@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
}

.conteudo{
	width: 100%;
	height: 100%;
	display: flex;
	float: bottom;
	justify-content: center;
	align-items: center;
	background-color: hsl(212, 45%, 89%);
}

.box{
	display: flex;
	align-items: center;
	place-items: center;
	flex-direction: column;
	background-color: #fff;
	padding: 1.2em;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);  /* X Y Blur Color */
}

.imagem{
	display: flex;
	width: 300px;
	height: 300px;
	background-image: url("files/code.png");
	background-size: 100%;
	background-attachment: scroll;
	border-radius: 15px;
}

.textos{
	margin-top: 2em;
	margin-bottom: 1.5em;
	padding: 10px;
	font-family: 'Outfit';
	place-items: center;
	text-align: center;
}
.textos p{
	font-weight: 700;
	color: hsl(218, 44%, 22%);
	font-size: 145%;
}
.textos span{
	padding-top: 10em;
	padding-bottom: 1.5em;
	font-weight: normal;
	font-size: medium;
	color: hsl(220, 15%, 55%);
}